<div class="relative shadow-md sm:rounded-lg">
  <div class="div-cab-fixed flex w-full text-sm text-gray-500 dark:text-gray-400">
      <div
        [ngClass]="{
          'largura-dinamica': isRelatorio,
          'w-3/5': !isRelatorio
        }"
        class="bg-gray-50 dark:bg-gray-700 p-4 p-05">
            <app-paginator
                [currentPage]="currentPage"
                [totalPages]="totalPages"
                (pageChanged)="consultarServicos($event)"
            >
            </app-paginator>
        </div>
        <div *ngIf="!isRelatorio" class="w-2/5 bg-gray-50 dark:bg-gray-700 p-2">
            <app-input-search (searchChange)="handleSearchChange($event)"></app-input-search>
            <label class="inline-flex items-center">
                <input
                    type="radio"
                    class="form-radio"
                    [value]="1"
                    [(ngModel)]="filtroPagamento"
                    (change)="consultarServicos(1)"
                >
                <span class="ml-2">Todos</span>
            </label>
            <label class="inline-flex items-center ml-2">
                <input
                    type="radio"
                    class="form-radio"
                    [value]="2"
                    [(ngModel)]="filtroPagamento"
                    (change)="consultarServicos(1)"
                >
                <span class="ml-2">Pagos</span>
            </label>
            <label class="inline-flex items-center ml-2">
                <input
                    type="radio"
                    class="form-radio"
                    [value]="3"
                    [(ngModel)]="filtroPagamento"
                    (change)="consultarServicos(1)"
                >
                <span class="ml-2">Não pagos</span>
            </label>
        </div>
    </div>
    <table
        *ngIf="!isRelatorio"
        class="mt-20 w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th
                    scope="col"
                    class="px-4 py-3 w-25"
                >
                    Serviço
                </th>
                <th
                    scope="col"
                    class="px-4 py-3 w-25"
                >
                    Proprietário
                </th>
                <th
                    scope="col"
                    class="px-4 py-3 text-center w-15"
                >
                    Placa
                </th>
                <th
                    scope="col"
                    class="px-4 py-3 text-center w-10"
                >
                    Valor
                </th>
                <th
                    scope="col"
                    class="px-4 py-3 text-center w-25"
                >
                    Opções
                </th>
            </tr>
        </thead>
        <tbody>
            <tr
                *ngFor="let servico of servicosFiltrados"
                class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700"
            >
                <td
                    scope="row"
                    class="px-4 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white w-25"
                >
                    {{ servico.nome | slice:0:40 }}{{ servico.nome.length > 40 ? '...' : '' }}
                </td>
                <td
                    scope="row"
                    class="px-4 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white w-25"
                >
                    {{ servico.cliente.nome }}
                </td>
                <td class="px-4 py-4 text-center w-10">{{ servico.placa }}</td>
                <td class="px-4 py-4 text-center w-15">{{ servico.preco }}</td>
                <td class="px-4 py-4 flex items-center justify-center">
                    <button
                        [ngClass]="{
                              'bg-green-500 hover:bg-green-600': this.servico.preco != this.servico.pagamento,
                              'bg-gray-400 hover:bg-gray-500': this.servico.preco == this.servico.pagamento
                            }"
                        class="text-white mr-5 px-5 py-2.5 rounded focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-opacity-50"
                        (click)="this.servico.preco != this.servico.pagamento && modalPagar(servico)"
                        [disabled]="this.servico.preco == this.servico.pagamento"
                    >
                        <ng-template #elsePagar>
                            <span>Pago</span>
                        </ng-template>
                        <span *ngIf="this.servico.preco != this.servico.pagamento; else elsePagar">Pagar</span>
                    </button>
                    <app-dropdown-rud
                        [rotaAlterar]="'/servico/alterar'"
                        [objetoPai]="servico"
                        (eventoFilho)="opcaoEventos($event)"
                    >
                    </app-dropdown-rud>
                </td>
            </tr>
        </tbody>
    </table>
    <table
        *ngIf="isRelatorio"
        class="mt-20 w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th
                    scope="col"
                    class="px-4 py-3 w-25"
                >
                    Serviço
                </th>
                <th
                    scope="col"
                    class="px-4 py-3 w-25"
                >
                    Comissão R$
                </th>
                <th
                    scope="col"
                    class="px-4 py-3 text-center w-25"
                >
                    Opções
                </th>
            </tr>
        </thead>
        <tbody>
            <tr
                *ngFor="let relatorio of relatorios"
                class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700"
            >
                <td
                    scope="row"
                    class="px-4 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white w-25"
                >
                    {{ relatorio.servico.nome | slice:0:80 }}{{ relatorio.servico.nome.length > 80 ? '...' : '' }}
                </td>
                <td
                    scope="row"
                    class="px-4 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white w-25"
                >
                    {{ relatorio.comissao_valor }}
                </td>
                <td class="px-4 py-4 flex items-center justify-center">
                    <button
                      class="bg-green-500 hover:bg-green-600 text-white mr-5 px-5 py-2.5 rounded focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-opacity-50"
                      (click)="modalDetalhes(relatorio.servicoId)"
                    >
                      Ver detalhes
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <div
        *ngIf="isModalDetalhes"
        class="fixed top-0 right-0 bottom-0 left-0 flex items-center justify-center bg-black bg-opacity-50 z-50"
    >
        <div class="relative w-full max-w-2xl bg-white rounded-lg shadow-md">
            <!-- Modal content -->
            <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                <!-- Modal header -->
                <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                    <h3 class="text-xl font-semibold text-gray-900 dark:text-white">Serviço</h3>
                    <button
                        type="button"
                        class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
                        (click)="modalDetalhes(servicoModal.id)"
                    >
                        <svg
                            class="w-3 h-3"
                            aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 14 14"
                        >
                            <path
                                stroke="currentColor"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
                            ></path>
                        </svg>
                        <span class="sr-only">Close modal</span>
                    </button>
                </div>
                <!-- Modal body -->

                <div class="p-6 bg-white dark:bg-gray-800 shadow-lg rounded-lg">
                  <div class="flex justify-center">
                      <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                          {{ servicoModal.veiculo.modelo }}
                          <span class="text-xl text-gray-900 dark:text-white">
                             - {{ servicoModal.placa }}
                          </span>

                      </h3>
                  </div>
                  <div class="flex justify-center">
                      <p class="text-gray-900 dark:text-white">
                          {{ servicoModal.cliente.nome }}
                      </p>
                  </div>

                  <div class="flex justify-center pt-3">
                      <h4 class="text-xl font-semibold text-gray-900 dark:text-white">Serviço</h4>
                  </div>
                  <div class="flex justify-center items-center">
                    <div class="flex flex-col items-center">
                      <p class="text-gray-900 dark:text-white text-center">
                        {{ servicoModal.nome }}<span [innerHTML]="servicoModal.descricao"></span>
                      </p>
                    </div>
                  </div>


                  <div class="flex justify-center items-center pt-3">
                    <div class="flex flex-col items-center mr-10"> <!-- Div para "Valor" -->
                      <h4 class="text-xl font-semibold text-gray-900 dark:text-white">Valor</h4>
                      <p class="text-gray-900 dark:text-white">
                        {{ servicoModal.preco | currency:'BRL':'symbol':'1.2-2':'pt-BR' }}
                      </p>
                    </div>

                    <div class="flex flex-col items-center"> <!-- Div para "Pago" -->
                      <h4 class="text-xl font-semibold text-gray-900 dark:text-white">Pago</h4>
                      <p class="text-gray-900 dark:text-white">
                        {{ servicoModal.pagamento | currency:'BRL':'symbol':'1.2-2':'pt-BR' }}
                      </p>
                    </div>
                  </div>

                </div>
                <!-- Modal footer -->
                <div class="flex items-center md:p-5 border-t border-gray-200 rounded-b dark:border-gray-600">
                    <button
                        type="button"
                        class="focus:outline-none text-white bg-green-400 hover:bg-green-500 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:focus:ring-green-900"
                        (click)="imprimir(servicoModal.id)"
                    >
                            Imprimir
                    </button>
                    <button
                        type="button"
                        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
                        (click)="modalDetalhes(servicoModal.id)"
                    >
                        Fechar
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div
        *ngIf="isModalPagar"
        id="popup-modal"
        tabindex="-1"
        class="fixed top-0 right-0 bottom-0 left-0 flex items-center justify-center bg-black bg-opacity-50 z-50"
    >
        <div class="relative p-4 w-full max-w-md max-h-full">
            <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                <button
                    (click)="modalPagar()"
                    type="button"
                    class="absolute top-3 end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
                >
                    <svg
                        class="w-3 h-3"
                        aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 14 14"
                    >
                        <path
                            stroke="currentColor"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
                        ></path>
                    </svg>
                    <span class="sr-only"></span>
                </button>
                <div class="p-4 md:p-5 text-center">
                    <svg
                        class="mx-auto mb-4 text-gray-400 w-12 h-12 dark:text-gray-200"
                        aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 20 20"
                    >
                        <path
                            stroke="currentColor"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M10 11V6m0 8h.01M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
                        ></path>
                    </svg>
                    <h3 class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400">Valor a pagar?</h3>
                    <h4 class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400">
                        Já foi pagou um total de: R${{ this.servicoModal.pagamento }}
                    </h4>
                    <div class="my-5">
                        <input
                            type="number"
                            id="placa"
                            [(ngModel)]="this.pagar"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            placeholder="Placa"
                            maxlength="8"
                            required
                        >
                    </div>
                    <button
                        (click)="pagarServico()"
                        type="button"
                        class="text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center"
                    >
                        Pagar
                    </button>
                    <button
                        (click)="modalPagar()"
                        type="button"
                        class="py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"
                    >
                        Não, cancelar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<pdf-viewer [src]="pdfSrc"
            [render-text]="true"
            style="display: block;">
</pdf-viewer>
