<div class="relative p-4 overflow-x-auto shadow-md sm:rounded-lg odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
    <form
        [formGroup]="funcionarioForm"
        (ngSubmit)="onSubmit()"
    >
        <div class="grid gap-6 mb-6 md:grid-cols-2">
            <div>
                <label
                    for="nome"
                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                >
                    Nome
                </label>
                <input
                    type="text"
                    id="nome"
                    formControlName="nome"
                    [ngClass]="{'error': (submit || funcionarioForm.get('nome')?.touched) && funcionarioForm.get('nome')?.invalid}"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="Nome"
                    required
                >
            </div>
            <div>
                <label
                    for="cpf"
                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                >
                    CPF
                </label>
                <input
                    type="text"
                    id="cpf"
                    formControlName="cpf"
                    [ngClass]="{'error': (submit || funcionarioForm.get('cpf')?.touched) && funcionarioForm.get('cpf')?.invalid}"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="CPF"
                    [mask]="'000.000.000-00'"
                >
            </div>
            <div>
                <label
                    for="telefone"
                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                >
                    Telefone
                </label>
                <input
                    type="text"
                    id="telefone"
                    formControlName="telefone"
                    [ngClass]="{'error': (submit || funcionarioForm.get('telefone')?.touched) && funcionarioForm.get('telefone')?.invalid}"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="Telefone"
                    appPhoneMask
                >
            </div>
            <div>
                <label
                    for="logradouro"
                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                >
                    Logradouro
                </label>
                <input
                    type="text"
                    id="logradouro"
                    formControlName="logradouro"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="Logradouro"
                >
            </div>
            <div>
                <label
                    for="numero"
                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                >
                    Número
                </label>
                <input
                    type="text"
                    id="numero"
                    formControlName="numero"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="Número"

                >
            </div>
            <div>
                <label
                    for="complemento"
                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                >
                    Complemento
                </label>
                <input
                    type="text"
                    id="complemento"
                    formControlName="complemento"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="Complemento"
                >
            </div>
            <div>
                <label
                    for="bairro"
                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                >
                    Bairro
                </label>
                <input
                    type="text"
                    id="bairro"
                    formControlName="bairro"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="Bairro"
                >
            </div>
            <div>
                <label
                    for="cidade"
                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                >
                    Cidade
                </label>
                <input
                    type="text"
                    id="cidade"
                    formControlName="cidade"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="Cidade"
                >
            </div>
            <div>
                <label
                    for="cep"
                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                >
                    Cep
                </label>
                <input
                    type="text"
                    id="cep"
                    formControlName="cep"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="Cep"
                    [mask]="'00000-000'"
                >
            </div>
        </div>
        <button
            (click)="onSubmit()"
            class="block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
            type="button"
        >
            Salvar
        </button>
    </form>
</div>
