<div class="relative p-4 overflow-x-auto shadow-md sm:rounded-lg odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
    <form
        [formGroup]="veiculoForm"
        (ngSubmit)="onSubmit()"
    >

        <app-auto-complete-selector
            [label]="'Proprietário'"
            [placeholder]="'Digite o nome do cliente'"
            (buscaTermo)="buscarClientes($event)"
            [itensFiltrados]="clientesFiltrados"
            (itemSelecionado)="onClienteSelecionado($event)"
            [valorSelecionado]="nomeClienteSelecionado"
        >
        </app-auto-complete-selector>

        <div class="grid gap-6 mb-6 mt-6 md:grid-cols-2">
            <div>
                <label
                    for="modelo"
                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                >
                    Modelo
                </label>
                <input
                    type="text"
                    id="modelo"
                    formControlName="modelo"
                    [ngClass]="{'error': (submit || veiculoForm.get('modelo')?.touched) && veiculoForm.get('modelo')?.invalid}"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="Modelo"
                >
              </div>
            <div>
                <label
                    for="marca"
                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                >
                    Marca
                </label>
                <input
                    type="text"
                    id="marca"
                    formControlName="marca"
                    [ngClass]="{'error': (submit || veiculoForm.get('marca')?.touched) && veiculoForm.get('marca')?.invalid}"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="Marca"
                >
            </div>
            <div>
                <label
                    for="tipo"
                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                >
                    Tipo
                </label>
                <input
                    type="text"
                    id="tipo"
                    formControlName="tipo"
                    [ngClass]="{'error': (submit || veiculoForm.get('tipo')?.touched) && veiculoForm.get('tipo')?.invalid}"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="Tipo"
                >
            </div>
            <div>
                <label
                    for="placa"
                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                >
                    Placa
                </label>
                <input
                    type="text"
                    id="placa"
                    formControlName="placa"
                    [ngClass]="{'error': (submit || veiculoForm.get('placa')?.touched) && veiculoForm.get('placa')?.invalid}"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="Placa"
                    maxlength="8"
                >
            </div>
            <div>
                <label
                    for="cor"
                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                >
                    Cor
                </label>
                <input
                    type="text"
                    id="cor"
                    formControlName="cor"
                    [ngClass]="{'error': (submit || veiculoForm.get('cor')?.touched) && veiculoForm.get('cor')?.invalid}"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="Cor"
                >
            </div>
            <div>
                <label
                    for="ano"
                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                >
                    Ano
                </label>
                <input
                    type="number"
                    id="ano"
                    formControlName="ano"
                    [ngClass]="{'error': (submit || veiculoForm.get('ano')?.touched) && veiculoForm.get('ano')?.invalid}"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="Ano"
                >
            </div>
        </div>
        <button
            (click)="onSubmit()"
            class="block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
            type="button"
        >
            Salvar
        </button>
    </form>
</div>
