<div class="flex justify-center items-center relative">
    <select
        (change)="onSelectChange($event)"
        class="text-sm text-gray-700 bg-white hover:bg-gray-100 focus:bg-white dark:bg-gray-700 dark:text-white dark:hover:bg-gray-600 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg px-4 py-2.5 text-center"
        [id]="objetoPai.id"
    >
        <option
            value
            disabled
            selected
        >
            Opções
        </option>
        <option value="1">Ver Detalhes</option>
        <option value="2">Alterar</option>
        <option value="3">Apagar</option>
    </select>


</div>
